
*,*::before,*::after {
	box-sizing:border-box;
}

:root {
	--header-height:3rem;
}

body {
	font-family: arial,sans-serif;
	font-size:100%;
}




.ui-mobile .ui-page-active {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow:hidden;
	display:flex;
	flex-direction:column;
}
[data-role='main'] {
	flex: 1 1 100%;
	overflow:hidden;
	position:relative;
	z-index:1;
}

[data-role='header'],
[data-role='footer'] {
	height:var(--header-height);
	line-height:var(--header-height);
	background-color:white;
	border-width:0;
	box-shadow:0 0 10px rgba(0, 0, 0, 0.25);
	position:relative;
	z-index:2;
}
.ui-header .ui-title,
.ui-footer .ui-title {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	text-align:center;
	margin:0;
	padding:0;
}




.ui-header ul,
.ui-footer ul {
	list-style-type:none;
	margin:0;
	padding:0;
	display:flex;
}
.ui-footer li {
	flex: 1 1 auto;
	text-align:center;
}




#recent-page [data-role='main'] {
	background-image:url(../img/map.png);
}